Create a Team and Heroes!
<form action="/teams" method="post">
  <input type="text" name="team[name]" value="">
  <input type="text" name="team[motto]" value="">
  <input type="text" name="team[members][0][name]" value="">
  <input type="text" name="team[members][0][power]" value="">
  <input type="text" name="team[members][0][bio]" value="">
  <input type="text" name="team[members][1][name]" value="">
  <input type="text" name="team[members][1][power]" value="">
  <input type="text" name="team[members][1][bio]" value="">
  <input type="text" name="team[members][2][name]" value="">
  <input type="text" name="team[members][2][power]" value="">
  <input type="text" name="team[members][2][bio]" value="">
  <input type="submit" value="Submit">
</form>
